<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400|Nunito:300,400|Raleway:300,400,500&display=swap" rel="stylesheet" />
    {% if title %}
    <title>30 Days Of Python - {{title}}</title>
    {% else %}
    <title>30 Days Of Python</title>
    {% endif %}
</head>
<body>
    <header>
        <div class="menu-container">
            <div>
                <a href="/" class="brand-name nav-link">30DaysOfPython</a>
            </div>
            <ul class="nav-lists">
                <li class="nav-list">
                    <a href="{{ url_for('home') }}" class="nav-link active">Home</a>
                </li>
                <li class="nav-list">
                    <a href="{{ url_for('about') }}" class="nav-link active">About</a>
                </li>
                <li class="nav-list">
                    <a href="{{ url_for('post') }}" class="nav-link active">Text Analyzer</a>
                </li>
            </ul>
        </div>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>